<section class="briefing-form-page">
  <%= link_to "← #{@briefing.title}", project_briefing_path(@project, @briefing), class: "workspace-back-link" %>
  <div class="briefing-form-card">
    <h1>Edit comment</h1>
    <%= form_with model: @comment, url: project_briefing_comment_path(@project, @briefing, @comment), class: "mt-6" do |form| %>
      <%= form.rich_text_area :body %>
      <div class="mt-3 flex justify-end"><%= form.submit "Save comment", class: "workspace-primary-action" %></div>
    <% end %>
  </div>
</section>
